<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.webapp.mapper.user.UserMapper">

    <select id="getListCount" resultType="java.lang.Integer">
        select count(1) from np_goods_rule
    </select>
</mapper>